// out: ./style.css, compress: false, stricMath:true;

body {background: #F3F3F3;}

/* header {background-color:#92BABE;
        width: auto;
        height: 100px;
    display: block;
        }*/

.photo_header3 {width: 100%;
                height: auto;}

nav{background-color: #3B3B3A;
   position: fixed;
   width: 100%;
   height: 30px;
   top: 0px;
   bottom: 0px;
    text-align: right;
    /*position:fixed;*/
    }

nav a{color: #FFFFFF;
    font-family: "champagne & limousines";
    font-size: 20px;}

#inscription {
    margin-right: 30px;
}






#Titre {color: #92BABE;
        font-family: "champagne & limousines";
        font-size: 30px;
        margin-left: 80px;
        margin-top: 60px;}





footer {
    text-align:center;
	background-color:#3B3B3A;
	font-family: "champagne & limousines";
	font-size:15px;
	width:100%;
	height:30px;
	bottom:0;
	padding-top:1.5px;
	color:#FFFFFF;	
	position: fixed;}




@font-face {
  font-family: "Champagne-Limousines";
  src: url(http://www.dafont.com/fr/champagne-limousines.font) format("truetype");
}